<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="Title" content="{{ page.title }}">
    <meta name="description" content="{{ page.description }}">
    <meta name="keywords"
    {% unless page.keywords %}
      content="Facultad, Ciencias, Computacion, Secretaria Academica, BUAP, Puebla, México, Educación, University, Superior, Benemérita, Universidad, Autónoma"
    {% else %}
          content="{{ page.keywords }}"
    {% endunless %}
    >
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/png" href="http://www.buap.mx/buap_ico.png">
    <link rel="stylesheet" type="text/css" href="assets/css/semantic.min.css">
    <link type="text/css" rel="stylesheet" href="assets/css/stylesheet.css"/>
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  </head>
  <body>

      {% include header.html %}
      <section class="ui container content">
          {{ content }}
      </section>
      {% include footer.html %}


    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap.min.js'></script>
    <script src="assets/js/semantic.min.js"></script>
    <script type="text/javascript" src="assets/js/scripts.js"></script>
  </body>
</html>
